<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Ajax Base CRUD</title>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name"/></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" name="address"/></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="text" name="phone"/></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="button">Save</button></td>
            </tr>
        </table>
    </form>
</body>
</html>