<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
 <form method="post">
        {% csrf_token %}
        <table align="center">
            <tr>
                <td>First Name</td>
                <td><input type="text" name="fname" placeholder="Enter first name" value="{{ student.name.first_name }}"/> </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="lname" placeholder="Enter last name" value="{{ student.name.last_name }}"/> </td>
            </tr>
            <tr>
                <td>Father's Name</td>
                <td><input type="text" name="ftname" placeholder="Enter father's name" value="{{ student.fathers_name }}"/> </td>
            </tr>
            <tr>
                <td>Mother's Name</td>
                <td><input type="text" name="mtname" placeholder="Enter mother's name" value="{{ student.mothers_name}}"/> </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Update Info</button> {{ msg }}</td>
            </tr>
        </table>
    </form>
</body>
</html>